/* pour ne pas display */
.hide{
  display:none;
}

/* l'alinéa que provoque les ul,ol et certaines classes de bootstrap ne sont parfois pas désirés */
.no-margin-left{
  margin-left:0;
}

/* pour fixer le cadran d'amélioration en haut à droite de l'écran  de jeu*/
.pull-right{
  float:right !important;
}

/* permet de mettre une image centrée sur un ligne rapidement */
.image-center{
  display:block;
  margin:auto;
}

/* vient modifier la classe Card de Bootstrap pour être plus petite sur l'écran du jeu */
.HUD{
  max-width: 180px;
  margin:10px;
}

/* pour la bordure de la navbar */
#navbar-border{
  box-shadow:1px 1px rgba(0,0,0,0.2);
}

/* container de l'écran de jeu */
#arena_container{
  width: 800px;
  height: 600px;;
  position: relative;
}

/* Margin entre navbar et contenu */
#myMargin{
  margin-top: 50px;
}


/* permet de forcer 1 input/ligne */
form{
  display: inline-block;
}


/*####### CONCERNE L'ECRAN DU JEU ##########*/
/* écran de jeu */
canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;  left: 0;
}



/* animation des informations sur l'écran de jeu */
@keyframes struggle {
  0% {transform: rotate(-10deg) translate(-50%,-50%);}
  25% {transform: rotate(0deg) translate(-50%,-50%);}
  50% {transform: rotate(10deg) translate(-50%,-50%);}
  75% {transform: rotate(0deg) translate(-50%,-50%);}
  100% {transform: rotate(-10deg) translate(-50%,-50%);}
}

/* Eliott??? */
.textualInformation{
  width: 100px;  height: auto;
  position: absolute;
  top: 10%;  left: 50%;
  animation: struggle 1s linear infinite;
}

/*########################################*/
